@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
@import url('https://fonts.googleapis.com/css?family=Ranga');

/*---------------------------------------
 General styles              
-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #fff;
}

a:active, a:hover {
  color: #304352;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

#service,  #about, #projects,
#contact, footer {
  padding: 100px 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title h2 {
  text-transform: uppercase;
  color: #304352;
  text-align: center;
  padding: 0px 10px 15px 10px;
  margin-bottom: 0 !important;
}

input[type="text"],
input[type="email"],
textarea{
  outline: none;
  border: none;
  box-shadow: none !important;
}

.section-title p{
  text-align: center;
}

/*---------------------------------------
Typography              
-----------------------------------------*/
p {
  color: #878787;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.2px;
}

/*---------------------------------------
 Header styles              
-----------------------------------------*/
#home{
  background: linear-gradient(rgba(20,20,20,0.4), rgba(20,20,20,09.5)), url('../img/b.jpeg') 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: -1;
}

#sidebar{
  position: absolute;
  left: -80px;
  width: 80px;
  height: 100vh;
  background: #304552;
  transition: all 500ms linear;
  z-index: 1;
}

#sidebar.active{
  left: 0;
}

#sidebar ul li{
  list-style: none;
  padding: 15px;
  font-weight: 700;
  font-size: 40px;
}

#sidebar ul li a span.hide{
  display: none;
}

#sidebar ul li a{
  position: relative;
  top: 0;
  transition: all 0.6s ease-in-out; 
  color: #00ffbc;
}

#sidebar ul li a:hover{
  color: #fff;
  transform: scale(1.1);
  top: -10px;
}

#sidebar ul li a:hover .hide {
 /* display: block; */
 font-size: 15px;
 display: flex;
}

#sidebar .toggle-button{
  position: absolute;
  left: 120px;
  top: 35px;
}

#sidebar .toggle-button span{
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  margin: 5px 0;
}

#intro{
  display: flex;
  align-items: center;
  color:#fff; 
  height: 100vh;
  text-align: right;
}

/*---------------------------------------
  Buttons               
-----------------------------------------*/

.section-btn {
  background: #00ffbc;
  border: none;
  border-radius: 50px;
  color: #304352;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 18px 32px; 
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.6s;
  position: relative;
  top: 0;
}

.section-btn:focus,
.section-btn:hover {
  background: #304352;
  color: #00ffbc;
  border: 1px solid #304352;
  top: -10px;
}


/*---------------------------------------
  Service section              
-----------------------------------------*/
#service{
  text-align: center;
  background: #F4F0EA;
}

.service-thumb {
  background: #ffffff;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  border-radius: 5px;
  padding: 42px 22px;
  cursor: crosshair;
  position: relative;
  top: 0;
  color: #304352;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.service-thumb:hover {
  background: #304352;
  top: -10px;
}

.service-thumb:hover .fa,
.service-thumb:hover h4, .service-thumb:hover p{
  color: #ffffff;
}

.service-thumb h4 {
  padding-bottom: 5px;
}


.service-thumb .fa {
  color: #00ffbc;
  font-size: 62px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 22px;
}

.bg-blue {
  background: #304352 !important;
} 

.bg-grey {
  background: #fafafa !important;
}

.bg-blue .fa, .bg-blue h4{
  color: #ffffff;
}

/*---------------------------------------
  About section              
-----------------------------------------*/
#about{
  background-color: #f9f9f9;
}

.about-thumb .tools{
  font-weight: 900;
}

#about .sub-title h2{
  padding-bottom: 10px;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

 #about .social-icon li a{
  margin-left: 0;
 }

#about .tm-progress {
  background: #fff;
  border-radius: 2px;
  height: 5px;
  margin: 10px 0;
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#about .progress-bar-danger {
  background: #00ffbc;
}

#about .tm-progress-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
  color: #878787;
}

#about .progress-percent-small {
  display: block;
  float: right;
  padding-right: 80px;
  color: #304052;
}
/*---------------------------------------
  Work section              
-----------------------------------------*/
#projects{
  background-color: #f9f9f9;
}

#projects p {
  text-align: center;
}

.work {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 800;
}

.work .work-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgba(20, 20, 20, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all ease-in-out .8s;
}

.work:hover .work-overlay {
  opacity: 1;
}

.work-overlay ul li {
  margin: 0 5px 0 5px;
}

.work .work-overlay h3{
  padding: 25px;
  font-size: 25px;
  text-transform: uppercase;
}

.work .work-overlay a.right {
  border: 1px solid #304352;
  background: #304352;
  color: #fff;
  font-size: 12px;
  transition: ease-in-out .8s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
   0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.work .work-overlay a.left {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 12px;
  transition: ease-in-out .8s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
   0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.work .work-overlay a.left:hover {
  border: 1px solid #304352;
  background: #304352;
  color: #fff;
}

.work .work-overlay a.right:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

/*---------------------------------------
  Social icon             
-----------------------------------------*/
.social-icon {
  position: relative;
}

.social-icon li {
  display: block;
  list-style: none;
}

.social-icon li a {
  background: transparent;
  border-radius: 100%;
  color: #00ffbc;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0;
  margin: 6px 15px;
}

.social-icon li a:hover {
  background: transparent;
  color: #304352;
  transform: scale(1.1);
  top: -5px;
}


/*contact section
--------------------------------*/
#contact {
  background: #F4F0EA;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  border: 2px solid #00ffbc;
  border-radius: 0;
  background: transparent;
}

#contact input {
  font-size: 13px;
  height: 44px;
  margin-bottom: 30px; 
}

#contact textarea {
  padding: 15px;
  font-size: 13px;
  color: #7a7a7a;
  outline: none;
  margin-bottom: 25px;
  height: 180px;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  max-height: 240px;
  display: inline-block;
}


#contact input:focus,#contact textarea:focus{
  border: 1px solid #00ffbc;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1) !important;
}

#contact button {
  text-decoration: none;
  padding: 10px 18px;
  display: inline-block;
  border-radius: 24px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #00ffbc;
  color: #304352;
  letter-spacing: 1px;
}

#contact button:hover {
  color: #00ffbc;
  background-color: #304352;
  border: 1px solid #304352;
  transition: all 0.3s;
  outline: none;
  box-shadow: none;
}

 #contact p {
 text-align: center;
}

/* ======================
----- FOOTER SECTION ----
=======================*/

footer {
  text-align: center;
  background: #304352;
  padding: 20px 0px;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0 3px;
}

footer ul li a {
  font-size: 16px;
  color: #304052;
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #00ffbc;
  border-radius: 50%;
  position: relative;
  top: 0;
}

footer ul li a:hover {
  background-color: #304052;
  color: #00ffbc;
  transition: all 0.3s;
   transform: scale(1.1);
   top: -5px;
}

footer p {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #fff;
}

footer em {
  font-style: normal;
  font-weight: 600;
}

/* Back to top button */
.scrollToTop {
  position: fixed;
  display: none;
  background: #00ffbc;
  color: #304352;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  border-radius: 50%;
  z-index: 7;
}

.scrollToTop:hover,
.scrollToTop:active,
.scrollToTop:focus {
  color: #304052;
  background: #00ffbc;
}

/*---------------------------------------
  Mobile Responsive styles              
-----------------------------------------*/
@media (max-width: 980px) {
  .service-thumb {
    margin-top: 12px;
    margin-bottom: 22px;
  }
  #sidebar{
    width: 75px;
    left: -75px;
  }

  #sidebar ul li {
    font-size: 35px;
  }

  #sidebar .toggle-button{
    left: 100px;
  }

  #sidebar .toggle-button{
    top: 25px;
  }
}

@media (min-width: 985px) {
  #sidebar ul li a {
    text-align: center;
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  #about, #contact, #projects, #service {
    padding: 30px;
  }

  .contact-img{
    display: none;
  }

  .work{
    margin: 15px;
  }

  .about-thumb{
    margin-bottom: 15px;
  }
}
